/* En este archivo debe agregar las clases CSS que considere necesarias para la realización de las pruebas de páginas Estáticas */

/*---PRUEBA ESTÁTICA 1---*/
/*Para páginas Web*/
.opcion{
    width: 25%;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
}
/*Para Tablets*/
@media only screen and (max-width:800px) {
    .opcion{
        width: 50%;
        margin-bottom: 5%;
    }
}
/*Para celulares*/
@media only screen and (max-width:500px) {
    .opcion{
        width: 100%;
        margin-bottom: 5%;
    }
    .descrip{
        display: none;
    }
    #titulo1, #titulo2{
        font-size: 75%;
    }
}
/*opciones*/
.img{
    display: block; 
    margin: auto;
}
.linktype{
    text-align: center;
    margin-top: 8px;
}
.descrip{
    padding-right: 5%;
    padding-left: 5%;
    text-align: center
}
.info{
    display: block; 
    margin: auto;
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 8px;
    padding-right: 8px;
    background-color: #76787C;
    color: white;
}
#new_tab{
    text-decoration:none;
}


/*PRUEBA ESTÁTICA 2*/
#titulo2{
    margin-left: 40px;
    
}
form{
    margin-left: 15%;
    margin-right: 15%;
    padding: 10px;
    
    border-radius: 3px;
}

.form_float{
    position: relative;
    width: 50%;
    float: left;
}
.form_color{
    color: #25ABD2;
    font-weight: bold;
}
.campo1{
    position: relative;
    width: 95%;
    height: 30px;
    border-radius: 5px;
    outline: none; 
    background-color: #E2E9EA;   
}
.campo2{
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;   
    background-color: #E2E9EA;  
}
.campo3{
    position: relative;
    width: 100%;
    height: 30px;
    border-radius: 5px;
    outline: none;
    background-color: #E2E9EA; 
}
.campo4{
    position: relative;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    outline: none;
    background-color: #E2E9EA; 
}
.btn_form{
    border: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 45px;
    padding-right: 45px;
    background-color: #76787C;
    float: right;
    color: white;
}


/*PRUEBA ESTÁTICA 3*/
.prueba3{
    margin-top: 5px;
    padding-left: 5%;
    padding-right: 5%;
}
#tags{
    text-align: justify;
}